li {
  list-style: bengali;
}
.copyleft {
  text-align: center;
  display: flex;
  margin-left: 20%;
  width: 30em;
  color: #a79f9f;
  justify-content: left;
  box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}

